@model IEnumerable<Final_CV.Models.Language>

@{
    ViewBag.Title = "Langues";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Langues</h2>

<br /><br /><br />


              <div class="wrapper wrapper-content animated fadeInRight">
                  <div class="row">
                       @foreach (var item in Model)
                         {
                           <div class="col-lg-4">
                             <div class="contact-box">
                              <a href="#">
                                       <div class="col-sm-4">
                                             <div class="text-center">
                                                 <img src="@Url.Content(item.Logo.ToString())" class="img img-circle" width="60" height="60" />
                                             <div class="m-t-xs font-bold"></div>
                                       </div>
                               </div>
                               <div class="col-sm-8">
                                    <h3><strong>@item.Name</strong></h3>
                                     <address>
                                        <strong>Niveau:</strong><br>
                                         @item.Niveau<br>
                                     </address>
                                </div>
                                <div class="clearfix"></div>
                                </a>
                               </div>
                           </div>
                             }
                    </div>
                </div>
      
  

               

<script src="~/Templates/js/jquery-2.1.1.js"></script>
<script src="~/Templates/js/bootstrap.min.js"></script>
<script src="~/Templates/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/Templates/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/Templates/js/inspinia.js"></script>
<script src="~/Templates/js/plugins/pace/pace.min.js"></script>
<script>
        $(document).ready(function(){
            $('.contact-box').each(function() {
                animationHover(this, 'pulse');
            });
        });
</script>
                   