
@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox-content profile-content">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>à propos de moi</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>


                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="well">
                            <h3>
                                السلام عليكم ,
                            </h3>
                            Je suis Nader Abdelkader d'originaire de la ville de Tozeur, Ingénieur etudes et développement chez <a href="http://www.allisone-bpo."><strong>ALLISONE TUNISIE</strong> </a>
                            et jeune diplomé de l'ecole nationale d'ingénieurs de Sfax (<a href="http://www.enis.rnu.tn"><strong>ENIS</strong></a>) promotion 2016

                        </div>
                        <div class="well well-lg">
                            <h3></h3>
                            Grâce à la richesse de l'enseignement que j'ai reçu et aux quelques stages professionnels
                            que j'ai eu la chance d'effectuer, j'ai pu faire du développement des solutions
                            informatique mon domaine de prédilection, tout au long de mes études j’ai appris
                            plusieurs technologies sachant J2EE, PHP, de  plus  j’ai eu la chance de réaliser
                            mon projet de fin d’études en ASP.NET MVC5,C#, ce projet est soutenu
                            le 18-06-2016 et validé avec mention très bien à l’ENIS. Aussi,
                            outre mes compétences techniques, j'ai su mettre à profit mon sens de la communication,
                            indispensable tant pour travailler avec des utilisateurs que sur un site de production.

                        </div>
                        <div class="well well-sm">
                            <h3>
                                Joaquin Phoenix was gazed by MTV for luck
                            </h3>
                            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-6">
            <div class="ibox-content no-padding border-left-right">
                <img src="~/Data/Images/profile_big.jpg" class="img-responsive thumbnail" />

            </div>
        </div>


    </div>
</div>